@charset "UTF-8";
h1{
    font-family: Oswald;
    font-weight: 300;
    color: #222222;
    size: 60px;
    margin-left: 75px;
    padding-top: 200px;
  
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 14px;
    margin-left: 75px;
}
h2{
    font-family: Oswald;
    font-weight: 300;
    color: #222222;
    size: 60px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
div#texto{
    background-color: #f9f9ff;
       height: 700px;
       width : 60%;
       position: relative
       }
img#Cupcake{
    margin-left: 640px;
    margin-top: -520px;
    width: 18%;
    height: 45%;
    position : absolute;
}
button{
    background-color:  #f42f2c;
    height: 60px;
    width: 200px;
    border :none;
    border-radius: 5px;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: white; font-size: 14px; 
    margin-left: 75px;
    margin-top:  40px ;
    }
       p#article{
        font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; color :darkslategrey ; font-size: 20px;
        margin-left: 50px;
    }
    p#description{
        font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 110px;
    }
    p#price{
        font : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: black; font-weight: bolder;
        margin-left: 150px;
    }
   img.menu{
        width: 350px;
        height: 270px;
    }
    section#Croissant{
        margin-left: 450px;
        margin-top: -415px;
    }
    section#Fries{
        margin-left: 850px;
        margin-top: -415px;
    }
    section#Sandwich{
        margin-left: 50px;
    }
    div#Favorite{
        background-color: #f9f9ff;
        height: 600px;
    }
   div h2{
 padding-top: 80px;   
}
    section#Left{
        
        margin-left: 8%;
    }
    section#Right{
        
        margin-left: 55%;
        margin-top: -16.4%;
    }
    img#baguette{
        width: 40%;
        margin-left: 50px;
    }
    img#cheesecake{
        width: 35%;
        margin-left:  50px;
    }
    img#cinnamon{
        width: 35%;
        margin-left: 50px;
    }
    img#cappuccino{
        width: 35%;
        margin-left: 50px;
    }
    img#egg{
        width: 35%;
        margin-left: 50px;
    }
    img#coconut{
        width: 35%;
        margin-left: 50px;
    }
    img#bowl{
        width: 35%;
        margin-left: 50px;
    }
    form#Reservation{
     text-align: center;
    }
    form input{
        width: 400px;
        font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; color :darkslategrey ; font-size: 13px;    
          
    }
    div#Reservation{
        background-color: #f9f9ff; 
        padding: 150px;
        margin-left: 200px;
        margin-right: 200px;
    }
    div#bottom{
        background-color: rgb(18, 10, 69);
        height: 400px;
    }
    
    